workflow.json
{
  "name": "Data Analyst",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        256
      ],
      "id": "0f48033b-22ba-4104-8812-ae8ac5d7a557",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        848,
        256
      ],
      "id": "46e3c0bb-f637-42b9-9906-386919f61930",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          
        }
      }
    },
    {
      "parameters": {
        "sendTo": "youremail@gmail.com",
        "subject": "Data Analysis",
        "message": "=<div style=\"font-family: Arial, sans-serif; color: #333;\">\n\n  <h2>📊 Data Analysis Summary</h2>\n\n  <div style=\"background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 6px; padding: 12px 15px; margin-bottom: 20px; font-size: 0.95em; line-height: 1.5;\">\n    {{ $json.message.content }}\n  </div>\n\n  <table cellspacing=\"10\" cellpadding=\"0\" border=\"0\" style=\"width: 100%;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📈 Line Chart</h3>\n        <img src=\"{{ $json.chartLineUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📊 Bar Chart</h3>\n        <img src=\"{{ $json.chartBarUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>🧩 Pie Chart</h3>\n        <img src=\"{{ $json.chartPieUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"font-size: 0.9em; color: #888;\">Generated automatically by your AI analysis assistant 🚀</p>\n\n</div>\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        32
      ],
      "id": "2a1c2665-2e41-4390-aa40-7a87ead5ab15",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a data visualization assistant.\n\nThe user will give a request like:\n- \"Show revenue per month as a line chart for 2024\"\n- \"Show number of sold units per product\"\n- \"Give me the sales for region North\"\n\nYour task:\n1. Select the right data filters (like year, product, region) based on the user’s request.\n2. Prepare two arrays: one for labels and one for numeric values.\n3. Always return **only** a valid JSON object (no markdown, no explanations, no code block).\n\nYou must return valid JSON only, without any markdown, prefix, backticks, or extra text.\nExample output:\n{\"labels\": [\"...\"], \"values\": [123, 456]}\n\nDo not include any explanations or formatting.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        544,
        32
      ],
      "id": "b6e3ea5c-9ac2-4d42-8361-1275c0ad60a3",
      "name": "Data Analyst"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        32
      ],
      "id": "68b5ee53-84a5-4ead-870a-adef4aba2c4d",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        32
      ],
      "id": "90da3875-0230-41d2-b3dd-aef56b85a81d",
      "name": "Write HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        352,
        32
      ],
      "id": "74c77ee4-bca1-4250-a6e3-60ff2ce60972",
      "name": "When chat message received",
      "webhookId": ""
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "8cec892e-ec63-45a9-bcca-2744f0526ece",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional Data Analyst AI Assistant. Your job is to:\n\n1. Analyze data provided from Google Sheets.\n2. Clean and summarize the data (handle missing values, inconsistent entries, and categorize correctly).\n3. Generate concise reports highlighting totals, trends, anomalies, or comparisons.\n4. Produce instructions for dynamic charts (line, bar, pie) including axes, labels, and values.\n5. Respond in a structured JSON format with two keys: \n   - \"summary\" → a text report\n   - \"charts\" → an array of chart instructions, each with \"type\", \"title\", \"x_axis\", and \"y_axis\".\n\nExample output format:\n{\n  \"summary\": \"Your text report here.\",\n  \"charts\": [\n    {\n      \"type\": \"bar|line|pie\",\n      \"title\": \"Chart Title\",\n      \"x_axis\": [\"label1\", \"label2\"],\n      \"y_axis\": [value1, value2]\n    }\n  ]\n}\n",
              "role": "model"
            },
            {
              "content": "=User Request: {{$json.message}}\n\nData from Google Sheets: {{$json.sheetData}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1152,
        32
      ],
      "id": "e14cd70d-7adf-491f-b9da-624622d01fde",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Analyst": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Data Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Write HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9398f76d-5c1c-41c0-b673-f5ae4c228043",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d998844e1447a57e5f2d3615ee10f8332816d8baf4103241a0e061af0b26e8c1"
  },
  "id": "grg3nF6554SK6srQzwrzI",
  "tags": []
}